body {
  background-color: red;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 960px;
}

.square {
  width: 6.25%;
  background-color: antiquewhite;
  height: 45px;
}

.hovered {
  background-color: black;
}
